<app-header></app-header>

<div class="body">

 
    <div class="card" *ngFor=" let prod of product">
        <div class="imageBox">
          <img src="{{prod.thumbnail}}" alt="">
        </div>
        <section class="details">
          <div class="min-details" style="display: flex; justify-content: space-evenly; ">
            <h3>{{prod.title}}</h3>
            <h3 class="price">${{prod.price | currency:"INR"}}</h3>
            
          </div>
      
         
          <!-- <a  class="btn" (click)="addToCart()" >add to cart</a> -->
          <a class="btn"  [routerLink]="['/product', prod.id]" (click)="viewProduct()"> View Details</a>
        </section>
      </div>
</div>