
<app-header></app-header>
<app-home></app-home>
<app-catagories></app-catagories>

<div class="heading-part">
  <h3><span style="color: rgb(253, 140, 159);"> Our</span> Products</h3>
</div>

<button class="btn btn-primary" (click)="openShowAddForm()">Add New Product</button>

<div class="container">
  
  <div *ngFor="let product of productList" class="product-container">
    <div class="card">
      <div class="imgBx">
        <img loading="lazy" [src]="product.thumbnail" alt="Product Image" />
        <ul class="action">
          <li>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span>Add to wishlist</span>
          </li>
          <li>
            <a (click)="addToCart(product)">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>Add to cart</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/product', product.id]">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span style="font-size: 16px;">View Details</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="productName">{{ product.title }}</div>
        <div class="price-rating">
          <h2>{{ product.price | currency :"INR" }}</h2>
          <div class="rating">
            {{ product.rating }}
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productList.length > getMoreProduct.length">
  <button (click)="getMoreProduct()">View More</button>
</div>

<div *ngIf="showAddForm" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeShowForm()">&times;</span>
    <h3>Add New Product</h3>

    <form (ngSubmit)=" toAddMoreData()">
      <div class="form-group">
        <label for="title">Product Title:</label>
        <input type="text" id="title" [(ngModel)]="newAddProduct.title" name="title" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="newAddProduct.description" name="description" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="newAddProduct.price" name="price" class="form-control" required />
      </div>

      

      <button type="submit" class="btn btn-success">Add Product</button>
    </form>
  </div>

  <div class="overlay" (click)="closeShowForm()"></div>
</div>

<br><br>
<app-footer></app-footer>

