
          <div class="container" *ngIf="product ">
            <div class="card">
              <div class="container-fliud">
                <div class="wrapper row">
                  <button  type="button" class="btn btn-danger wid" (click)="deletePro()">Delete</button>

                  <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="{{product.thumbnail}}" /></div>
                     
                     
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="{{product.images[1]}}" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="{{product.images[2]}}" /></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="{{product.images[3]}}" /></a></li>
                      
                    </ul>
                    
                  </div>
                  <div class="details col-md-6" >
                    <h3 class="product-title">{{product.title}}</h3>
                    <div *ngIf="isEditing">

                      <input type="text" placeholder=  "edit Title"  [(ngModel)]="updateTitle" name="updateTitle">
                    
                      <button  (click)="updatedProd()"> Update Product</button>
                     

                    </div>
                    <button class="btn-edit" (click)="toggle()">{{isEditing?'Cancle':'Edit'}}</button>

                    
                    <div class="rating">
                      <div class="stars">
                        {{product.rating}}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                      <p class="review-no">{{product.review}}</p>
                    
                    </div>
                    <p class="product-description">{{product.description}}</p>
                    <h4 class="price">current price: <span>{{product.price | currency:"INR"}}</span></h4>
                    <p class="vote"><strong>{{product.review}}</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>

                    <!-- <div>
                      <ul>
                        <li>
                          <li>Best in Quality</li> 
                          <li> Anti-creak joinery</li>
                          <li>Sturdy laminate surfaces</li> 
                          <li> Relocation friendly design</li>
                          <li>High gloss, high style</li> 
                         <li> Easy-access hydraulic storage</li>
                      </ul>
                    </div> -->
                    <!-- <div class="bullets">
                      <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Best in Quality</span> </div>
                      <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Anti-creak joinery</span> </div>
                      <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Sturdy laminate surfaces</span> </div>
                      <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Relocation friendly design</span> </div>
                      <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">High gloss, high style</span> </div>
                      <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">Easy-access hydraulic storage</span> </div>
                  </div> -->
                   
                    





           
            
                   
                    <div class="action">
                      <button class="add-to-cart btn btn-default" type="button"  (click)="addToCart()">add to cart</button>
                    
                    </div>
                  </div>
                </div>
      </div>
    </div>























  